@import '../abstracts/variables';
@import '../abstracts/mixins';

.badge {
  background-color: $col-white;
  border-radius: toRem(200);
  padding: toRem(5) toRem(8) toRem(5) toRem(8);
  box-shadow: 0 toRem(1) toRem(4) 0 rgba(12, 12, 13, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(8);
  
  span {
    font-weight: 600;
    font-size: toRem(14);
    line-height: 120%;
    letter-spacing: -2%;
    color: $badge-blue;
  }
  
  img {
    width: toRem(28);
    height: toRem(15);
    object-fit: contain;
  }

  @include media('<=tablet') {
    padding: toRem(4) toRem(7);
    gap: toRem(6);
    
    span {
      font-size: toRem(12);
    }
    
    img {
      width: toRem(24);
      height: toRem(13);
    }
  }

  @include media('<=phone-tab') {
    padding: toRem(4) toRem(7);
    gap: toRem(5);
    
    span {
      font-size: toRem(14);
    }
    
    img {
      width: toRem(24);
      height: toRem(13);
    }
  }
}

