@import '../abstracts/variables';
@import '../abstracts/mixins';

.hero {
  width: 100%;
  height: 121vh;
  background-color: $hero-bg;
  background-image: 
    url('../../assets/images/blur-bg.png'),
    url('../../assets/images/clouds.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom center;
  background-size: 
    toRem(471.36) auto,
    100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.navWrapper {
  margin-top: toRem(40);
  display: flex;
  justify-content: center;
  width: 100%;
}

.badgeWrapper {
  margin-top: toRem(64);
  display: flex;
  justify-content: center;
  width: 100%;
}

.scrollIndicator {
  position: absolute;
  bottom: toRem(40);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(8);
}

.scrollText {
  font-weight: 600;
  font-size: toRem(18);
  line-height: 130%;
  letter-spacing: -2%;
  text-align: center;
  margin: 0;
  color: $text-dark;
}

.arrowWrapper {
  width: toRem(32);
  height: toRem(32);
  animation: bounce 2s infinite;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(toRem(8));
  }
}

