@import '../abstracts/variables';
@import '../abstracts/mixins';

.hero {
  width: 100%;
  height: 100vh;
  background-color: $hero-bg;
  background-image: url('../../assets/images/blur-bg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: toRem(471.36) toRem(441.76);
}

