
$col-black: #000000;
$col-white: #ffffff;

$hero-bg: #E5F2FF;
$hero-blue: #007AFF;
$nav-link-color: #8C97A8;
$badge-blue: #006FE8;
$text-dark: #1D2026;
$border-gray: #6C788F;

// header variables
$header-gap: toRem(20);
$header-container-padding: toRem(20);
$header-menu-padding: toRem(32);
$header-section-padding: toRem(80);
$header-cubic-default: cubic-bezier(0.4, 0, 0.2, 1);

%mg_au {
  margin: 0 auto;
}
%ta_center {
  text-align: center;
}